---
author: Alexander Naumann
title: Markdown Slides | Overview
description: Overview of slides by Alexander Naumann
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Path-to-production

[Time to discover](https://frderoubaix.github.io/path-to-production/getting_started#/00_Overview)

<br>
            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
